* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root {
  font-size: 16px;
}

html, body {
  background: #f7f7f7;
  display: flex;
}

.plex-sidebar {
  width: 20vw;
  border-right: 1px solid #ededed;
  min-height: 100vh;
  background: #f7f7f7;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 91;
  transform: translateX(0);
  transition: all 3s;
}

.hurdle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 2rem;
}

.plex {
  font-family: 'Pacifico', sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  color: #4a4a4a;
}

.picture {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 2vh 8vw;
}

 .mark {
   width: 18px;
   height: 18px;
   background-color: rgb(233, 69, 69);
   color: white;
   border-radius: 50%;
   align-items: center;
   position: absolute;
   margin-top: -2.5em;
   margin-left: 12em;
 }

 .name {
   margin-left: 8rem;
   color: #4a4a4a;
   font-family: "Montserrat", sans-serif;
   font-size: 0.85rem;
   font-weight: 600;
 }
 .job {
   margin-left: 9rem;
   color: #999999;
   font-size: 0.8rem;
 }

 .dashboard {
   display: flex;
   align-items: center;
   margin-top: 3rem;
   margin-left: 5rem;
   color: #787878;
   width: 17.6rem;
   height: 2.5rem;

   /* -webkit-box-align: center; */
   /* padding: 0 16px 0 60px; */
 }
 .dashboard:hover{
   cursor: pointer;
   color: #4a4a4a;
   border-right: .1rem solid red;

 }

 .board {
  font-size: 14px;
  margin-left: 1rem;
 }

 .invoices {
   display: flex;
   align-items: center;
   margin: 1rem 5rem;
   color: #787878;
   width: 17.6rem;
   height: 2.5rem;
 }

 .invoices:hover {
  cursor: pointer;
  color: #4a4a4a;
  border-right: .1rem solid red;
 }

