* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root {
  /* font-size: 16px; */
}

html, body {
  background: #f7f7f7;
  display: flex;
}

.plex-sidebar {
  width: 20vw;
  border-right: 1px solid #ededed;
  min-height: 100vh;
  background: #f7f7f7;
  position: fixed;
  /* top: 0;
  left: 0;
  z-index: 91;
  transform: translateX(0);
  transition: all 3s; */
}

.hurdle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 2rem;
}

.plex {
  font-family: 'Pacifico', sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  color: #4a4a4a;
}

.picture {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 2vh 8vw;
}

 .mark {
   width: 18px;
   height: 18px;
   background-color: rgb(233, 69, 69);
   color: white;
   border-radius: 50%;
   align-items: center;
   position: absolute;
   margin-top: -2.5em;
   margin-left: 12em;
 }

 .name {
   margin-left: 8rem;
   color: #4a4a4a;
   font-family: "Montserrat", sans-serif;
   font-size: 0.85rem;
   font-weight: 600;
 }
 .job {
   margin-left: 9rem;
   color: #999999;
   font-size: 0.8rem;
 }

 .dashboard {
   display: flex;
   align-items: center;
   margin-top: 3rem;
   margin-left: 5rem;
   color: #787878;
   width: 17.6rem;
   height: 2.5rem;

   /* -webkit-box-align: center; */
   /* padding: 0 16px 0 60px; */
 }
 .dashboard:hover{
   cursor: pointer;
   color: #4a4a4a;
   border-right: .1rem solid red;

 }

 .board {
  font-size: 14px;
  margin-left: 1rem;
 }

 .invoices {
   display: flex;
   align-items: center;
   margin: 1rem 5rem;
   color: #787878;
   width: 17.6rem;
   height: 2.5rem;
 }

 .invoices:hover {
  cursor: pointer;
  color: #4a4a4a;
  border-right: .1rem solid red;
 }

 .right {
   margin-left: 360px;
 }

 .wrap {
  display: flex;
  /* width: 65rem; */
 }

 .search {
   width: 40vw;
   height: 2.5rem;
   border: 1px solid #f0ebeb;
   padding-left: 2.5rem;
   margin-left: 13.5rem;
   margin-top: 1rem;
   border-radius: 4px;
   position: static;
 }

 .searchh {
   position: absolute;
   margin-left: 13rem;
   margin-top: 1rem;
   color: #d0d0d0;
   padding-top: 0.75rem;
   padding-left: 1rem;
 }

 .logo {
   display: flex;
   margin-left: 5rem;
   margin-top: 0.85rem;
   justify-content: space-between;
   align-items: center;
   width: 10em;
  }
   
  .mesage {
    color: #d0d0d0;
  }

 .pic {
   width: 2.75rem;
   height: 2.75rem;
   border-radius: 50%;
 }

 .dots {
   width: 0.5em;
   height: 0.5em;
   border-radius: 50%;
   background-color: #5ba4fc;
   margin-left: -2.5em;
   margin-top: -2em;
 }

 .mobile {
   background-color: #ffffff;
   height: 18rem;
   width: 53vw;
   margin: 2rem 0 0 13.5rem;
   border-radius: 5px;
   border: #d0d0d0 1px solid;
   padding: 2rem 2rem;
   display: flex;
 }

 .money {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 30vw;
  }

.dols {
  font-family: "Montserrat", sans-serif;   
  color: #4a4a4a;
  font-size: 30px;
}

.date {
  font-size: 14px;
  color: #787878;
}

.doll {
  content: '$';
  top: -5px;
  position: relative;
  font-size: 65%;
}

.letter {
  padding-top: 1.5rem;
  color: #787878;
  font-size: 14px;
  border-bottom: #d0d0d0 1px solid;
  padding-bottom: 1.5rem;
}

.mobi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30vw;
  padding-top: 0.7rem;
  border-bottom: 1px #d0d0d0 solid;
  padding-bottom: 0.7rem;
}

.bank {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30vw;
  padding-top: 0.7rem;
  /* border-right: #d0d0d0 solid 1px; */
}



.invo {
  padding-right: 18rem;
  color:#4a4a4a;
  font-size: 14px;
}

.dolla {
  font-weight: 600;
  font-size: 14px;
  color: #787878;
  font-family: "Montserrat", sans-serif;
}

.dola {
  font-weight: 600;
  font-size: 14px;
  color: rgb(236, 92, 116);
  font-family: "Montserrat", sans-serif;
}

.mary {
  display: flex;
}

.smith {
  background-color: #ffffff;
   height: 7rem;
   width: 35vw;
   margin: 2rem 0 0 13.5rem;
   border-radius: 5px;
   border: #d0d0d0 1px solid;
   padding: 0 2rem;
   display: flex;
   /* justify-content: space-between; */
   align-items: center;
}

.income {
  background-color: #ffffff;
   height: 7rem;
   width: 16.5vw;
   margin: 2rem 0 0 2rem;
   border-radius: 5px;
   border: #d0d0d0 1px solid;
   padding-left: 1rem; 
   padding-right: 1rem;
}

.round {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: #f0ebeb  1px solid;
}

.round2 {
  /* width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: #f0ebeb 1px solid;
  padding-left: -2rem; */
}

.message {
  padding-top: 0.85rem;
  padding-left: 0.85rem;
  color: #999999;
}

#image {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-left: 1rem;
}

.mass {
  margin-left: 1.5rem;
  border-right: #dfd4d4 1px solid;
  width: 7vw;
  height: 3rem;
  padding-top: 0.5rem;
}

.ma {
  font-weight: 600;
  font-size: 12.5px;
  color: #3b3636;
  font-family: "Montserrat", sans-serif;
}

.lorem {
  font-size: 12px;
  color: #967f7f;
  font-family: "Montserrat", sans-serif;
  padding-left: 1rem;
}

.se {
  font-size: 12px;
  color: #787878;
  font-family: "Montserrat", sans-serif;
}

.incom {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem; 
}

.incoming {
  font-weight: 400;
  font-size: 15px;
  color: #787878;
  font-family: "Montserrat", sans-serif;
}

.button {
  border: none;
  background: #d8e9fe;
  border-radius: 100px;
  font-size: 0.8rem;
  color: #5ba4fc;
  padding: 3px 12px;
}

.doller {
  font-family: "Montserrat", sans-serif;   
  color: #4a4a4a;
  font-size: 23px; 
  padding-top: 2rem;
}

.dolly {
  content: '$';
  top: -5px;
  position: relative;
  font-size: 70%;
}

.activity {
  margin-left: 12vw;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 53vw;
  color: #787878;
}

.active {
  /* margin-right: 3rem; */
}

.activ {
  padding-right: 45vw;
  font-size: 14px;
}

.janet {
  background-color: #ffffff;
  height: 8rem;
  width: 53vw;
  margin: 2rem 0 0 13.5rem;
  border-radius: 5px;
  border: #d0d0d0 1px solid;
  padding: 2rem 2rem;
  display: flex;
  /* flex-direction: row; */
  /* justify-content: space-between; */
}

.wrap1 {
  justify-content: space-between;
  align-items: center;
  width: 18rem;
  display: flex;
}

.wrap2 {
  margin-left: 23vw;
  justify-content: space-between;
  align-items: center;
  width: 15rem;
  display: flex;
}

.may {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  /* margin-left: 1rem; */
}

.approve,
.jaay {
  font-size: 14px;
}

.jane {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content:center;
  border:3px solid white;
  margin-left: -0.85em;
  border-radius: 50%;
  background: #ff9b17;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  /* margin-left: 1rem; */
}

.amount {
  font-size: 13px;
  color: #d0d0d0;
}

.pricy {
  content: '$';
  top: -5px;
  position: relative;
  font-size: 70%;
}

.price {
  font-family: "Montserrat", sans-serif;   
  color: #4a4a4a;
  font-size: 16px; 
}

.alert {

}

.chart{
  display: flex;
  justify-content: space-between;
  width: 18em;
}

.chrt1{
  width: 0.85em;
  height: 14em;
  background-color: lightgray;
  position: relative;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.summary{
  padding-left: 2em;
  border-left: 1px solid #d3c5c5;
  margin-left: 1em;
  color: #4a4a4a;
  font-weight: 600;
}

.chrta{
  width: 0.85em;
  height: 8em;
  background-color: rgb(238, 83, 83);
  position: absolute;
  bottom: 0;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;


}
.blue{
  background-color: lightskyblue;
}
.mon {
  height: 10em;
}

.day {
  padding-top: 1rem;
  font-size: 12px;
  color: #967f7f;
}

.paul {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content:center;
  border:3px solid white;
  margin-left: -0.85em;
  border-radius: 50%;
  background: #3bf486;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.kris {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content:center;
  border:3px solid white;
  margin-left: -0.85em;
  border-radius: 50%;
  background: #7938f4;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}