* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root {
  /* font-size: 16px; */
}

html, body {
  background: #f7f7f7;
  display: flex;
}

.plex-sidebar {
  width: 20vw;
  border-right: 1px solid #ededed;
  min-height: 100vh;
  background: #f7f7f7;
  /* position: fixed;
  top: 0;
  left: 0;
  z-index: 91;
  transform: translateX(0);
  transition: all 3s; */
}

.hurdle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 2rem;
}

.plex {
  font-family: 'Pacifico', sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  color: #4a4a4a;
}

.picture {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 2vh 8vw;
}

 .mark {
   width: 18px;
   height: 18px;
   background-color: rgb(233, 69, 69);
   color: white;
   border-radius: 50%;
   align-items: center;
   position: absolute;
   margin-top: -2.5em;
   margin-left: 12em;
 }

 .name {
   margin-left: 8rem;
   color: #4a4a4a;
   font-family: "Montserrat", sans-serif;
   font-size: 0.85rem;
   font-weight: 600;
 }
 .job {
   margin-left: 9rem;
   color: #999999;
   font-size: 0.8rem;
 }

 .dashboard {
   display: flex;
   align-items: center;
   margin-top: 3rem;
   margin-left: 5rem;
   color: #787878;
   width: 17.6rem;
   height: 2.5rem;

   /* -webkit-box-align: center; */
   /* padding: 0 16px 0 60px; */
 }
 .dashboard:hover{
   cursor: pointer;
   color: #4a4a4a;
   border-right: .1rem solid red;

 }

 .board {
  font-size: 14px;
  margin-left: 1rem;
 }

 .invoices {
   display: flex;
   align-items: center;
   margin: 1rem 5rem;
   color: #787878;
   width: 17.6rem;
   height: 2.5rem;
 }

 .invoices:hover {
  cursor: pointer;
  color: #4a4a4a;
  border-right: .1rem solid red;
 }

 .wrap {
  display: flex;
  /* width: 65rem; */
 }

 .search {
   width: 40vw;
   height: 2.5rem;
   border: 1px solid #f0ebeb;
   padding-left: 2.5rem;
   margin-left: 13.5rem;
   margin-top: 1rem;
   border-radius: 4px;
 }

 .searchh {
   position: absolute;
   margin-left: 13rem;
   margin-top: 1rem;
   color: #d0d0d0;
   padding-top: 0.75rem;
   padding-left: 1rem;
 }

 .logo {
   display: flex;
   margin-left: 5rem;
   margin-top: 0.85rem;
   justify-content: space-between;
   align-items: center;
   width: 10em;
  }
   
  .mesage {
    color: #d0d0d0;
  }

 .pic {
   width: 2.75rem;
   height: 2.75rem;
   border-radius: 50%;
 }

 .dots {
   width: 0.5em;
   height: 0.5em;
   border-radius: 50%;
   background-color: #5ba4fc;
   margin-left: -2.5em;
   margin-top: -2em;
 }

 .mobile {
   background-color: #ffffff;
   height: 18rem;
   width: 53vw;
   margin: 2rem 13.5rem;
   border-radius: 5px;
   border: #d0d0d0 1px solid;
   padding: 2rem 2rem;
   display: flex;
 }

 .money {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 30vw;
  }

.dols {
  font-family: "Montserrat", sans-serif;   
  color: #4a4a4a;
  font-size: 30px;
}

.date {
  font-size: 14px;
  color: #787878;
}

.doll {
  content: '$';
  top: -5px;
  position: relative;
  font-size: 65%;
}

.letter {
  padding-top: 1.5rem;
  color: #787878;
  font-size: 14px;
  border-bottom: #d0d0d0 1px solid;
  padding-bottom: 1.5rem;
}

.mobi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30vw;
  padding-top: 0.7rem;
  border-bottom: 1px #d0d0d0 solid;
  padding-bottom: 0.7rem;
}

.bank {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30vw;
  padding-top: 0.7rem;
}

.invo {
  padding-right: 18rem;
  color:#4a4a4a;
  font-size: 14px;
}

.dolla {
  font-weight: 600;
  font-size: 14px;
  color: #787878;
  font-family: "Montserrat", sans-serif;
}

.dola {
  font-weight: 600;
  font-size: 14px;
  color: rgb(236, 92, 116);
  font-family: "Montserrat", sans-serif;
}
